build-TeamChat*
Debug
x64
.vs
TeamChat.pro.user
node_modules
config.ini
config.json
/client/TeamChat/.qmake.stash
/client/TeamChat/bin/TeamChat.exe
/client/TeamChat/bin/TeamChat.ilk
/client/TeamChat/bin/TeamChat.pdb
/client/TeamChat/TeamChat.qtvscr
/client/TeamChat/TeamChat.sln
/client/TeamChat/TeamChat.vcxproj
/client/TeamChat/TeamChat.vcxproj.filters
/client/TeamChat/TeamChat.vcxproj.user
/client/TeamChat/TeamChat_resource.rc
/client/TeamChat/release/moc_predefs.h.cbt
/client/TeamChat/ui_adduseritem.h
/client/TeamChat/ui_applyfriend.h
/client/TeamChat/ui_chatdialog.h
/client/TeamChat/ui_chatuserwid.h
/client/TeamChat/ui_findsuccessdlg.h
/client/TeamChat/ui_friendlabel.h
/client/TeamChat/ui_loadingdlg.h
/client/TeamChat/ui_logindialog.h
/client/TeamChat/ui_mainwindow.h
/client/TeamChat/ui_registerdialog.h
/client/TeamChat/ui_resetdialog.h
ui_*.h